body {
  background-color: gray; }

.navbar {
  color: white; }

.options {
  float: right;
  background-color: brown;
  list-style: none;
  padding: 1%;
  padding-bottom: 2%; }

select {
  width: 100%; }
