body{
    background-color:rgba(174,195,255,.62);
    font-family: 'Press Start 2P', cursive;
}
 

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


#map {
    height: 90vh;
    width: 100%;
    margin: 2%;
    border-radius: 1%;
    border: 5px solid rgba(174,195,255,.1);
  }

.navbar{
    background-color: darken(brown,10%);
    color: white;
    margin: 0 auto;
    padding-left:2%;
}

.options{
    background-color: #D2B48C;
    list-style: none;
    padding: 4%;
    padding-bottom: 8%;
    width: 90%;
    margin: 2% auto;
    margin-top: 5%;
    
}

.options p{
    font-size:1.75em;
}

select{
    font-size:1.25em;
}

select{
    width: 80%;
}

.itinerary-header{
    font-size:3em;
}

.day-buttons{
    padding: 2%;
    background-color: orange;
    font-size: 2em;
}

.itinerary-items{
    background-color: lighten( #3CB371, 20%);
    font-size:2em;
    height:95%;
    padding: 4%;
}

.itinerary-items li{
    font-size: .6em;
    list-style: none;
    
}

.itinerary-items button{
    float:right;
}

.day-buttons button{
    border-radius: 50%;
}

.itinerary{
    width: 90%;
    margin: 0 auto;
    margin-top: 8%;
}